footer#footer
  .container
    .col-sm-4
      img.img-responsive.logo alt="#" src="images/logo-dark.png" /
      p
        | Kupon,travel deals &amp; publishing,with minimal design. We provide you with the latest fresh inspiration straight from the industrie.
    .col-sm-4
      h5
        | COMMON TAGS
      ul.tags
        li
          a.tag href="#"
            | Vacation
        li
          a.tag href="#"
            | Rentals
        li
          a.tag href="#"
            | Deals
        li
          a.tag href="#"
            | Travel deals
        li
          a.tag href="#"
            | Vacation deals
        li
          a.tag href="#"
            | Adriatic coast
        li
          a.tag href="#"
            | Europe
        li
          a.tag href="#"
            | Island
    .col-sm-2
      h5
        | CATEGORIES
      ul.list-unstyled
        li
          | Vacation Deals
        li
          | Online Deals
        li
          | Digital goods
        li
          | Travel Deals
        li
          | Hotel deals
        li
          | Featured
        li
          | All Categories ..
    .col-sm-2
      h5
        | ABOUT US
      ul.list-unstyled
        li
          | Available Jobs
        li
          | Sumbit Deal
        li
          | Contact Us
        li
          | History
        li
          | Impressium
  .btmFooter
    .container
      .col-sm-7
        p
          strong
            | Copyright 2017
          | Trade deals
          i.ti-heart
          strong
            | by LamasTeam
      .col-sm-5
        ul.pay-opt.pull-right.list-inline.list-unstyled
          li
            a href="#" title="#"
              img.img-responsive alt="" src="/assets/amz-icon.png" /
          li
            a href="#" title="#"
              img.img-responsive alt="" src="/assets/paypal-icon.png" /
          li
            a href="#" title="#"
              img.img-responsive alt="" src="/assets/ax-icon.png" /
          li
            a href="#" title="#"
              img.img-responsive alt="" src="/assets/mb-icon.png" /
          li
            a href="#" title="#"
              img.img-responsive alt="" src="/assets/mst-icon.png" /
          li
            a href="#" title="#"
              img.img-responsive alt="" src="/assets/mstr-icon.png" /

  script src="/assets/jquery.min.js"
  script src="/assets/kupon.js"
  script src="/assets/bootstrap.min.js"
  script src="/assets/jquery.animsition.min.js"
  script src="/assets/owl.carousel.js"
  script src="/assets/jquery.flexslider-min.js"
  script src="/assets/plugins.js"