header
  .top-bar.bg-light.hdden-xs
    .container
      .row
        .col-sm-6.list-inline.list-unstyled.no-margin.hidden-xs
          p.no-margin
            | Есть вопросы?
            strong
              | +375 29 1701810
            | or artemshut@gmail.com
        .pull-right.col-sm-6
          ul.list-inline.list-unstyled.pull-right
            li.active
              a href="#"
                i.ti-cart
                | Faq
            li
              = link_to 'Войти', new_user_session_path
            li
              = link_to 'Регистрация', new_user_registration_path
            li
              a href="#"
                i.ti-shopping-cart
                | Корзина
  .header
    .container
      .row
        .col-sm-3
          a.navbar-brand.logo href="index.html"
            img.img-responsive alt="" src="images/logo.png"
        .col-sm-9
          = form_tag search_lamas_path, method: 'get', class: 'search-form', id: 'search_form' do
            .col-sm-4
              .row
                .col-md-12
                  = text_field_tag :q, params[:q], placeholder: 'Поиск лучших предложений'
            .col-sm-4
              = select_tag(:category_id, options_for_select(Category.all.map { |category| [category.name, category.id] }), selected: params[:category_id], prompt: 'Выберите категорию')
              /select.form-control
                option selected="selected" value="0"
                  | Выберите категорию
                - Category.all.each do |category|
                  option value="#{category.id}"
                    = category.name
            .col-sm-4
              = link_to 'Искать', '#', onclick: "$('#search_form').submit()", class: 'btn btn-raised ripple-effect btn-default btn-block'
  #nav-wrap
    .nav-wrap-holder
      #nav_wrapper.container
        nav#main_navbar.navbar.navbar-static-top.nav-white role="navigation"
          .navbar-header
            button.navbar-toggle data-target="#Navbar" data-toggle="collapse" type="button"
              span.sr-only
                | Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #Navbar.collapse.navbar-collapse
            /! regular link
            ul.nav.navbar-nav.navbar-left
              li
                a href="#{root_path}"
                  i.ti-home
                  | Главная
              li.dropdown
                a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button"
                  i.ti-clipboard
                  | Pages
                  span.caret
                ul.dropdown-menu role="menu"
                  li
                    a href="details_2.html"
                      | Deal Page 1
                  li
                    a href="details.html"
                      | Deal Page 2
                  li
                    a href="results.html"
                      | Search Results
                  li
                    a href="contact.html"
                      | Contact
                  li
                    a href="faq.html"
                      | FAQ page
                  li
                    a href="sumbit.html"
                      | Sumbit deal
                  li
                    a href="registration.html"
                      | Registration
                  li
                    a href="cart.html"
                      | Cart Page
                  li
                    a href="checkout.html"
                      | Checkout
                  li
                    a href="features.html"
                      | Shortcodes
              li
                a href="results.html"
                  i.ti-list-ol
                  | Categories
              li
                a href="sumbit.html"
                  i.ti-settings
                  | Sumbit
              li
                a href="contact.html"
                  i.ti-email
                  | Contact
