section#page.container
  .row
    .col-sm-8
      .row
        .col-sm-12.clearfix
          .hr-link
            hr.mBtm-50.mTop-30 data-symbol=('Результаты поиска')
            .view-all
              a href="index.html"
                | Все
      .clearfix

      - lamas.each do |lama|
        .deal-entry.orange.result-entry.clearfix
          .entry-left.col-sm-5.col-lg-6
            .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
              span.bought
                i.ti-tag
                | 169
          /! /.image wrap
          .entry-right.col-sm-7.col-lg-6
            .title
              a href="details_2.html" target="_blank" title=('ATLETIKA 3 mēnešu abonements')
                | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
            .entry-content
              .prices.clearfix
                .procent
                  | -65%
                .price
                  i.ti-money
                  b
                    | 60,00
                .old-price
                  span
                    i.ti-money
                    | 171,00
              p.truncate
                | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
            /! /.entry content
            footer.info_bar.clearfix
              ul.unstyled.list-inline.row
                li.time.col-sm-7.col-xs-6.col-lg-8
                  i.ti-timer
                  b
                    | 8
                  | d.
                  b
                    | 20
                  | st.
                  b
                    | 58
                  | min.
                li.info_link.col-sm-5.cl-xs-6.cl-lg-4
                  a.btn.btn-default.btn-block.btn-raised.btn-sm href="details_2.html"
                    | Buy Now
        .clearfix
      /.deal-entry.orange.result-entry
        .entry-left.col-sm-5.col-lg-6
          .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
            span.bought
              i.ti-tag
              | 169
        /! /.image wrap
        .entry-right.col-sm-7.col-lg-6
          .title
            a href="details_2.html" target="_blank" title=("ATLETIKA 3 mēnešu abonements")
              | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
          .entry-content
            .prices.clearfix
              .procent
                | -65%
              .price
                i.ti-money
                b
                  | 60,00
              .old-price
                span
                  i.ti-money
                  | 171,00
            p.truncate
              | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
          /! /.entry content
          footer.info_bar.clearfix
            ul.unstyled.list-inline.row
              li.time.col-sm-7.col-xs-6.col-lg-8
                i.ti-timer
                b
                  | 8
                | d.
                b
                  | 20
                | st.
                b
                  | 58
                | min.
              li.info_link.col-sm-5.cl-xs-6.cl-lg-4
                a.btn.btn-default.btn-block.btn-raised.btn-sm href="#"
                  | Buy Now
      /! /entry right
      /! /results entry
      /.clearfix
      /.deal-entry.orange.result-entry
        .entry-left.col-sm-5.col-lg-6
          .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
            span.bought
              i.ti-tag
              | 169
        /! /.image wrap
        .entry-right.col-sm-7.col-lg-6
          .title
            a href="#" target="_blank" title=("ATLETIKA 3 mēnešu abonements")
              | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
          .entry-content
            .prices.clearfix
              .procent
                | -65%
              .price
                i.ti-money
                b
                  | 60,00
              .old-price
                span
                  i.ti-money
                  | 171,00
            p.truncate
              | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
          /! /.entry content
          footer.info_bar.clearfix
            ul.unstyled.list-inline.row
              li.time.col-sm-7.col-xs-6.col-lg-8
                i.ti-timer
                b
                  | 8
                | d.
                b
                  | 20
                | st.
                b
                  | 58
                | min.
              li.info_link.col-sm-5.cl-xs-6.cl-lg-4
                a.btn.btn-default.btn-block.btn-raised.btn-sm href="details.html"
                  | Buy Now
      /! /entry right
      /! /results entry
      /.clearfix
      /.deal-entry.orange.result-entry
      /  .entry-left.col-sm-5.col-lg-6
      /    .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
      /      span.bought
      /        i.ti-tag
      /        | 169
      /  /! /.image wrap
      /  .entry-right.col-sm-7.col-lg-6
      /    .title
      /      a href="#" target="_blank" title=("ATLETIKA 3 mēnešu abonements")
      /        | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
      /    .entry-content
      /      .prices.clearfix
      /        .procent
      /          | \-65%
      /        .price
      /          i.ti-money
      /          b
      /            | 60,00
      /        .old-price
      /          span
      /            i.ti-money
      /            | 171,00
      /      p.truncate
      /        | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
      /    /! /.entry content
      /    footer.info_bar.clearfix
      /      ul.unstyled.list-inline.row
      /        li.time.col-sm-7.col-xs-6.col-lg-8
      /          i.ti-timer
      /          b
      /            | 8
      /          | d.
      /          b
      /            | 20
      /          | st.
      /          b
      /            | 58
      /          | min.
      /        li.info_link.col-sm-5.cl-xs-6.cl-lg-4
      /          a.btn.btn-default.btn-block.btn-raised.btn-sm href="details_2.html"
      /            | Buy Now
      //! /entry right
      //! /results entry
      /.clearfix
      /.deal-entry.orange.result-entry
      /  .entry-left.col-sm-5.col-lg-6
      /    .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
      /      span.bought
      /        i.ti-tag
      /        | 169
      /  /! /.image wrap
      /  .entry-right.col-sm-7.col-lg-6
      /    .title
      /      a href="details.html" target="_blank" title=("ATLETIKA 3 mēnešu abonements")
      /        | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
      /    .entry-content
      /      .prices.clearfix
      /        .procent
      /          | \-65%
      /        .price
      /          i.ti-money
      /          b
      /            | 60,00
      /        .old-price
      /          span
      /            i.ti-money
      /            | 171,00
      /      p.truncate
      /        | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
      /    /! /.entry content
      /    footer.info_bar.clearfix
      /      ul.unstyled.list-inline.row
      /        li.time.col-sm-7.col-xs-6.col-lg-8
      /          i.ti-timer
      /          b
      /            | 8
      /          | d.
      /          b
      /            | 20
      /          | st.
      /          b
      /            | 58
      /          | min.
      /        li.info_link.col-sm-5.cl-xs-6.cl-lg-4
      /          a.btn.btn-default.btn-block.btn-raised.btn-sm href="details_2.html"
      /            | Buy Now
      //! /entry right
      //! /results entry
      /.clearfix
      /.deal-entry.orange.result-entry
      /  .entry-left.col-sm-5.col-lg-6
      /    .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
      /      span.bought
      /        i.ti-tag
      /        | 169
      /  /! /.image wrap
      /  .entry-right.col-sm-7.col-lg-6
      /    .title
      /      a href="details.html" target="_blank" title=("ATLETIKA 3 mēnešu abonements")
      /        | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
      /    .entry-content
      /      .prices.clearfix
      /        .procent
      /          | \-65%
      /        .price
      /          i.ti-money
      /          b
      /            | 60,00
      /        .old-price
      /          span
      /            i.ti-money
      /            | 171,00
      /      p.truncate
      /        | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
      /    /! /.entry content
      /    footer.info_bar.clearfix
      /      ul.unstyled.list-inline.row
      /        li.time.col-sm-7.col-xs-6.col-lg-8
      /          i.ti-timer
      /          b
      /            | 8
      /          | d.
      /          b
      /            | 20
      /          | st.
      /          b
      /            | 58
      /          | min.
      /        li.info_link.col-sm-5.cl-xs-6.cl-lg-4
      /          a.btn.btn-default.btn-block.btn-raised.btn-sm href="#"
      /            | Buy Now
      //! /entry right
      //! /results entry
      /.clearfix
      /.deal-entry.orange.result-entry
      /  .entry-left.col-sm-5.col-lg-6
      /    .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
      /      span.bought
      /        i.ti-tag
      /        | 169
      /  /! /.image wrap
      /  .entry-right.col-sm-7.col-lg-6
      /    .title
      /      a href="details_2.html" target="_blank" title=("ATLETIKA 3 mēnešu abonements")
      /        | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
      /    .entry-content
      /      .prices.clearfix
      /        .procent
      /          | \-65%
      /        .price
      /          i.ti-money
      /          b
      /            | 60,00
      /        .old-price
      /          span
      /            i.ti-money
      /            | 171,00
      /      p.truncate
      /        | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
      /    /! /.entry content
      /    footer.info_bar.clearfix
      /      ul.unstyled.list-inline.row
      /        li.time.col-sm-7.col-xs-6.col-lg-8
      /          i.ti-timer
      /          b
      /            | 8
      /          | d.
      /          b
      /            | 20
      /          | st.
      /          b
      /            | 58
      /          | min.
      /        li.info_link.col-sm-5.cl-xs-6.cl-lg-4
      /          a.btn.btn-default.btn-block.btn-raised.btn-sm href="details.html"
      /            | Buy Now
      //! /entry right
      //! /results entry
      /.clearfix
      /.deal-entry.orange.result-entry
      /  .entry-left.col-sm-5.col-lg-6
      /    .image.bg-image.entry-xs data-image-src="http://placehold.it/700x420"
      /      span.bought
      /        i.ti-tag
      /        | 169
      /  /! /.image wrap
      /  .entry-right.col-sm-7.col-lg-6
      /    .title
      /      a href="#" target="_blank" title=("ATLETIKA 3 mēnešu abonements")
      /        | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
      /    .entry-content
      /      .prices.clearfix
      /        .procent
      /          | \-65%
      /        .price
      /          i.ti-money
      /          b
      /            | 60,00
      /        .old-price
      /          span
      /            i.ti-money
      /            | 171,00
      /      p.truncate
      /        | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
      /    /! /.entry content
      /    footer.info_bar.clearfix
      /      ul.unstyled.list-inline.row
      /        li.time.col-sm-7.col-xs-6.col-lg-8
      /          i.ti-timer
      /          b
      /            | 8
      /          | d.
      /          b
      /            | 20
      /          | st.
      /          b
      /            | 58
      /          | min.
      /        li.info_link.col-sm-5.cl-xs-6.cl-lg-4
      /          a.btn.btn-default.btn-block.btn-raised.btn-sm href="details_2.html"
      /            | Buy Now
      //! /entry right
      //! /results entry
      /.clearfix
    /! /col 8
    .col-sm-4.sidebar
      .inner-side.shadow
        .widget.widget-add
          hr data-symbol="ADVERTISE" /
          img.img-responsive alt="add" src="http://placehold.it/480x480" /
        .widget.widget-subscribe
          hr data-symbol="SUBSCRIBE" /
          .newsletter
            h4
              | Get Updates
              span.color-orange
                | (it’s free)
            p
              | Subscribe to our newsletter for good deals, sent out every month.
            .input-group
              input.form-control placeholder="Email" type="text" /
              span.input-group-btn
                button.btn.btn-danger.btn-raised.ripple-effect type="button"
                  | Subscribe
        .widget.widget-menu
          hr data-symbol="CATEGORIES" /
          /! Sidebar navigation
          ul.nav.sidebar-nav
            li.dropdown.open
              a.ripple-effect.dropdown-toggle data-toggle="dropdown" href="#"
                i.ti-shine
                | Travel
                span.sidebar-badge
                  | 12
                b.caret
              ul.dropdown-menu
                li
                  a href="#" tabindex="-1"
                    | Europe
                    span.sidebar-badge
                      | 12
                li
                  a href="#" tabindex="-1"
                    | Promo
                    span.sidebar-badge
                      | 0
            li
              a href="#"
                i.ti-gift
                | Gifts
                span.sidebar-badge
                  | 3
            li
              a href="#"
                i.ti-shopping-cart
                | Products
                span.sidebar-badge
                  | 456
            li
              a href="#"
                i.ti-ticket
                | Tickets
                span.sidebar-badge.badge-circle
                  | 12
            li
              a href="#"
                i.ti-pulse
                | Health
                span.sidebar-badge.badge-circle
                  | 45
            li
              a href="#"
                i.ti-direction-alt
                | Things To Do
                span.sidebar-badge.badge-circle
                  | 117
            li
              a href="#"
                i.ti-cut
                | Fashion
                span.sidebar-badge.badge-circle
                  | 117
        /! Sidebar divider
        .widget.widget-tags
          hr.mBtm-50.mTop-30 data-symbol=("POPULAR TAGS") /
          ul.tags
            li
              a.tag href="#"
                | Vacation
            li
              a.tag href="#"
                | Travel
            li
              a.tag href="#"
                | Discount
            li
              a.tag href="#"
                | Croatia
            li
              a.tag href="#"
                | Adriatic
            li
              a.tag href="#"
                | Europe
            li
              a.tag href="#"
                | Monte Negro
            li
              a.tag href="#"
                | New York
            li
              a.tag href="#"
                | Paris
        /! /widget
        .widget.widget-featured
          hr data-symbol=("BEST RATED") /
          .media.media-sm.entry-rating
            .media-left
              img.media-object alt="blog-thumb" src="http://placehold.it/700x420" /
            .media-body
              h5.media-heading
                a href="#"
                  | Sirenis Punta Cana Resort Casino
              p.stars
                i.ti-star
                i.ti-star
                i.ti-star
                i.ti-start
                i.ti-star.disabled
              ul.list-inline
                li
                  p.price.line-trough
                    | $399.00
                li
                  p.price
                    | $99.00
          /! /entry rating
          .media.media-sm.entry-rating
            .media-left
              img.media-object alt="blog-thumb" src="http://placehold.it/700x420" /
            .media-body
              h5.media-heading
                a href="#"
                  | Plaza Resort Hotel & SPA
              p.stars
                i.ti-star
                i.ti-star
                i.ti-star
                i.ti-start
                i.ti-star
              ul.list-inline
                li
                  p.price.line-trough
                    | $423.00
                li
                  p.price
                    | $86.00
          /! /entry rating
          .media.media-sm.entry-rating
            .media-left
              img.media-object alt="blog-thumb" src="http://placehold.it/700x420" /
            .media-body
              h5.media-heading
                a href="#"
                  | Wyndham Garden at Palmas del Mar
              p.stars
                i.ti-star
                i.ti-star
                i.ti-star
                i.ti-start
                i.ti-star
              ul.list-inline
                li
                  p.price.line-trough
                    | $789.00
                li
                  p.price
                    | $243.00
        /! /entry rating
        /! /widget
        .widget.widget-tabs
          .row
            .col-sm-12
              #tabs.tabbable.responsive role="tabpanel"
                /! Nav tabs
                ul.nav.nav-tabs role="tablist"
                  li.active role="presentation"
                    a aria-controls="home" data-toggle="tab" href="#home" role="tab"
                      | Latest
                  li role="presentation"
                    a aria-controls="profile" data-toggle="tab" href="#profile" role="tab"
                      | Comments
                /! Tab panes
                .tab-content
                  #home.tab-pane.active role="tabpanel"
                    .deal-entry.green.deal-entry-sm
                      .offer-discount
                        | $347
                      .image.ripple-effect
                        a href="#" target="_blank" title="#"
                          img.img-responsive alt="#" src="http://placehold.it/700x420" /
                        span.bought
                          i.ti-tag
                          | 21
                        .caption
                          h5.media-heading
                            a href="#"
                              | Plaza Resort Hotel &amp; SPA
                          p.stars
                            i.ti-star
                            i.ti-star
                            i.ti-star
                            i.ti-start
                            i.ti-star
                      footer.clearfix
                        .valueInfo.shadow
                          .value
                            p.value
                              | $422
                            p.text
                              | Value
                          .discount
                            p.value
                              | 64%
                            p.text
                              | Discount
                          .save
                            p.value
                              | $76
                            p.text
                              | SAVINGS
                    /! /.deal entry
                    .deal-entry.green.deal-entry-sm
                      .offer-discount
                        | $245
                      .image.ripple-effect
                        a href="#" target="_blank" title="#"
                          img.img-responsive alt="#" src="http://placehold.it/700x420" /
                        span.bought
                          i.ti-tag
                          | 21
                        .caption
                          h5.media-heading
                            a href="#"
                              | Plaza Resort Hotel &amp; SPA
                          p.stars
                            i.ti-star
                            i.ti-star
                            i.ti-star
                            i.ti-start
                            i.ti-star
                      footer.clearfix
                        .valueInfo.shadow
                          .value
                            p.value
                              | $1,422
                            p.text
                              | Value
                          .discount
                            p.value
                              | 59%
                            p.text
                              | Discount
                          .save
                            p.value
                              | $976
                            p.text
                              | SAVINGS
                  /! /.deal entry
                  /! /tab content
                  #profile.tab-pane role="tabpanel"
                    .wrap.mTop-20
                      .comment.clearfix
                        .comment-avatar
                          img alt="avatar" src="http://placehold.it/80x80" /
                        header
                          h5
                            | Really Nice Vacation!
                          .comment-meta.stars
                            i.ti-star
                            i.ti-star
                            i.ti-star
                            i.ti-start
                            i.ti-star
                            | | Today, 10:31
                      /! /.stars
                      /! /.comments
                      .mTop-20
                      .comment.clearfix
                        .comment-avatar
                          img alt="avatar" src="http://placehold.it/80x80" /
                        header
                          h5
                            | Great deal guys
                          .comment-meta.stars
                            i.ti-star
                            i.ti-star
                            i.ti-star
                            i.ti-start
                            i.ti-star
                            | | Today, 20:47
                      /! /.stars
                      /! /.comments
                      .mTop-20
                      .comment.clearfix
                        .comment-avatar
                          img alt="avatar" src="http://placehold.it/80x80" /
                        header
                          h5
                            | This is Your ratings comment!
                          .comment-meta.stars
                            i.ti-star
                            i.ti-star
                            i.ti-star
                            i.ti-start
                            i.ti-star
                            | | Today, 20:47

