.container
  .row
    .col-sm-3.sidebar
      .bg-white.shadow
        .widget-menu
          .cat-text
            input.form-control placeholder=('Искать купоны') type="text" /
          ul.nav.sidebar-nav
            li.dropdown
              a.ripple-effect.dropdown-toggle data-toggle="dropdown" href="#"
                i.ti-shine
                | Travel
                span.sidebar-badge
                  | 12
                b.caret
              ul.dropdown-menu
                li
                  a href="#" tabindex="-1"
                    | Europe
                    span.sidebar-badge
                      | 12
            li
              a href="#"
                i.ti-gift
                | Gifts
                span.sidebar-badge
                  | 3
            li
              a href="#"
                i.ti-shopping-cart
                | Products
                span.sidebar-badge
                  | 456
            li
              a href="#"
                i.ti-ticket
                | Tickets
                span.sidebar-badge.badge-circle
                  | 12
            li
              a href="#"
                i.ti-pulse
                | Health
                span.sidebar-badge.badge-circle
                  | 45
            li
              a href="#"
                i.ti-direction-alt
                | Things To Do
                span.sidebar-badge.badge-circle
                  | 117
            li
              a href="#"
                i.ti-cut
                | Fashion
                span.sidebar-badge.badge-circle
                  | 117
            li
              a href="#"
                i.ti-music-alt
                | Fun Stuff
                span.sidebar-badge.badge-circle
                  | 117
            li
              a href="#"
                i.ti-harddrives
                | Electronics
                span.sidebar-badge.badge-circle
                  | 117
    .col-sm-9
      .slider
        .row
          #grid-slider.flexslider
            ul.slides
              - @lamas.each do |lama|
                = render partial: 'lamas/big_item', locals: { lama: lama }

section#page.container
  .shadow.bg-white.mTop-30.frameLR
    .row
      .col-md-3.col-sm-4
        .l-element
          .box-icon
            .icon-wrap
              i.ti-target
            .text
              h4
                | Find Your Deal
              p
                | Find perfect offer
      .col-md-3.col-sm-4
        .l-element
          .box-icon
            .icon-wrap
              i.ti-shopping-cart
            .text
              h4
                | Buy Deal
              p
                | Buy or save your deal
      /! /.icon box
      .col-md-3.col-sm-4
        .l-element
          .box-icon
            .icon-wrap
              i.fa.fa-smile-o
            .text
              h4
                = "Скидки до #{@max_dicsount}%"
              p
                | Сохраняйте десятки рублей с нами!

      .col-md-3.col-sm-4
        .l-element
          .box-icon
            .icon-wrap
              i.ti-star
            .text
              h4
                | Круглосуточная поддержка
              p
                | +375 (29) 170-18-10

  .mTop-30
    .row
      .col-sm-12.clearfix
        .hr-link
          hr.mBtm-50 data-symbol=('FEATURED DEALS') /
          .view-all
            a href="index.html"
              | VIEW ALL
    .row
      - 6.times do
        = render partial: 'lamas/small_item'

  .no-class
    .row
      .col-sm-12.clearfix
        .hr-link
          hr.mBtm-50 data-symbol=('LATEST DEALS') /
          .view-all
            a href="index.html"
              | VIEW ALL
    .row
      .col-sm-3
        .deal-entry.orange
          .image
            a href="#" target="_blank" title="#"
              img.img-responsive alt="#" src="http://placehold.it/700x420" /
            span.bought
              i.ti-tag
              | 169
          /! /.image
          .title
            a href="#" target="_blank" title=('ATLETIKA 3 mēnešu abonements')
              | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
          .entry-content
            .prices.clearfix
              .procent
                | -65%
              .price
                i.ti-money
                b
                  | 60,00
              .old-price
                span
                  i.ti-money
                  | 171,00
            p
              | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
          /! /.entry content
          footer.info_bar.clearfix
            ul.unstyled.list-inline.row
              li.time.col-sm-7.col-xs-6.col-lg-8
                i.ti-timer
                b
                  | 8
                | d.
                b
                  | 20
                | st.
                b
                  | 58
                | min.
              li.info_link.col-sm-5.col-xs-6.col-lg-4
                a.btn.btn-block.btn-default.btn-raised.btn-sm href="#"
                  | View Deal
      /! /.deal
      .col-sm-3
        .deal-entry.orange
          .image
            a href="#" target="_blank" title="#"
              img.img-responsive alt="#" src="http://placehold.it/700x420" /
            span.bought
              i.ti-tag
              | 169
          /! /.image
          .title
            a href="#" target="_blank" title=('ATLETIKA 3 mēnešu abonements')
              | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
          .entry-content
            .prices.clearfix
              .procent
                | -65%
              .price
                i.ti-money
                b
                  | 60,00
              .old-price
                span
                  i.ti-money
                  | 171,00
            p
              | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
          /! /.entry content
          footer.info_bar.clearfix
            ul.unstyled.list-inline.row
              li.time.col-sm-7.col-xs-6.col-lg-8
                i.ti-timer
                b
                  | 8
                | d.
                b
                  | 20
                | st.
                b
                  | 58
                | min.
              li.info_link.col-sm-5.col-xs-6.col-lg-4
                a.btn.btn-block.btn-default.btn-raised.btn-sm href="#"
                  | View Deal
      /! /.deal
      .col-sm-3
        .deal-entry.orange
          .image
            a href="#" target="_blank" title="#"
              img.img-responsive alt="#" src="http://placehold.it/700x420" /
            span.bought
              i.ti-tag
              | 169
          /! /.image
          .title
            a href="#" target="_blank" title=('ATLETIKA 3 mēnešu abonements')
              | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
          .entry-content
            .prices.clearfix
              .procent
                | -65%
              .price
                i.ti-money
                b
                  | 60,00
              .old-price
                span
                  i.ti-money
                  | 171,00
            p
              | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
          /! /.entry content
          footer.info_bar.clearfix
            ul.unstyled.list-inline.row
              li.time.col-sm-7.col-xs-6.col-lg-8
                i.ti-timer
                b
                  | 8
                | d.
                b
                  | 20
                | st.
                b
                  | 58
                | min.
              li.info_link.col-sm-5.col-xs-6.col-lg-4
                a.btn.btn-block.btn-default.btn-raised.btn-sm href="#"
                  | View Deal
      /! /.deal
      .col-sm-3
        .deal-entry.orange
          .image
            a href="#" target="_blank" title="#"
              img.img-responsive alt="#" src="http://placehold.it/700x420" /
            span.bought
              i.ti-tag
              | 169
          /! /.image
          .title
            a href="#" target="_blank" title=('ATLETIKA 3 mēnešu abonements')
              | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
          .entry-content
            .prices.clearfix
              .procent
                | -65%
              .price
                i.ti-money
                b
                  | 60,00
              .old-price
                span
                  i.ti-money
                  | 171,00
            p
              | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
          /! /.entry content
          footer.info_bar.clearfix
            ul.unstyled.list-inline.row
              li.time.col-sm-7.col-xs-6.col-lg-8
                i.ti-timer
                b
                  | 8
                | d.
                b
                  | 20
                | st.
                b
                  | 58
                | min.
              li.info_link.col-sm-5.col-xs-6.col-lg-4
                a.btn.btn-block.btn-default.btn-raised.btn-sm href="#"
                  | View Deal
/! /.row
/! /.frame
/! /#page ends
.cta-box.clearfix
  .container
    .row
      .col-md-3.col-sm-3.col-xs-12.pull-right
        a.btn.btn-raised.btn-danger.ripple-effect.btn-lg data-original-title="" href="#" title=""
          i.ti-shopping-cart
          | \&nbsp; Sumbit Deal
      .col-md-9.col-sm-9.col-xs-12
        h3
          | Welcome to Kupon. Responsive Deal Template
        p
          | Carefully designed to bring you the best performance, usage and customization experience!
/! /.CTA

