li
  .col-sm-7.col-lg-7.omega
    article.bg-image.entry-lg data-image-src="#{lama.cover}"
    /= "http://placehold.it/900x600"
    .deal-short-entry
      p.lead
        = lama.title
  .col-sm-5.col-lg-5.alpha.entry-lg
    .buyPanel.animated.fadeInLeft.bg-white.Aligner.shadow
      .content
        .deal-content
          h3
            | Sirenis Punta Cana Resort Casino
          p
            = lama.title
        ul.deal-price.list-unstyled.list-inline
          li.price
            h3
              = lama.price
          li.buy-now
            = link_to 'Купить!', lama_path(lama), class: 'btn btn-danger btn-lg btn-raised ripple-effect'
        .dealAttributes
          .valueInfo.bg-light.shadow
            .value
              p.value
                = lama.price
              p.text
                | Цена
            .discount
              p.value
                = lama.signed_discount_value
              p.text
                | Скидка
            .save
              p.value
                = lama.savings
              p.text
                | Сохраняете
          /! /.value info
          .timeLeft.text-center
            p
              | Hurry up Only a few deals left
            span.time
              i.ti-timer.color-green
              b
                | 8
              | d.
              b
                | 20
              | st.
              b
                | 58
              | min.
          ul.statistic.list-unstyled.list-inline
            li
              p
                i.ti-user
                b
                  | for 2
                | Person
            li
              i.ti-tag
              b
                | 169
              | Bought
            li
              i.ti-face-smile
              | Offer success
          .social-sharing.text-center data-permalink="http://labs.carsonshold.com/social-sharing-buttons"
            /! https://developers.facebook.com/docs/plugins/share-button/
            a.share-facebook href="http://www.facebook.com/sharer.php?u=http://themeforest.net/user/codenpixel" target="_blank"
              span.icon.icon-facebook
              span.share-title
                | Share
              span.share-count.is-loaded 288
            /! https://dev.twitter.com/docs/intents
            a.share-twitter href="http://twitter.com/share?url=http://themeforest.net/user/codenpixel" target="_blank"
              span.icon.icon-twitter
              span.share-title
                | Tweet
              span.share-count.is-loaded 78
/li
/  .col-sm-7.col-lg-7.omega
/    article.bg-image.entry-lg data-image-src="http://placehold.it/900x600"
/      .deal-short-entry
/        p
/          | Kingscliff: From $349 for a 3-Night Romantic Stay with Bottle of Wine...
/  .col-sm-5.col-lg-5.alpha.entry-lg
/    .buyPanel.animated.fadeInLeft.bg-white.bordered.Aligner
/      .content
/        .deal-content
/          h3
/            | Riviera Maya All-Inclusive Cities 5*
/          p
/            | Kingscliff: From $349 for a 3-Night Romantic Stay with Bottle of Wine...
/        ul.deal-price.list-unstyled.list-inline
/          li.price
/            h3
/              | $999
/          li.buy-now
/            a.btn.btn-primary.btn-raised.ripple-effect
/              | BUY NOW
/        .dealAttributes
/          .valueInfo.bg-light.shadow
/            .value
/              p.value
/                | $2,475
/              p.text
/                | Value
/            .discount
/              p.value
/                | 59%
/              p.text
/                | Discount
/            .save
/              p.value
/                | $1,476
/              p.text
/                | SAVINGS
/          /! /.value info
/          .timeLeft.text-center
/            p
/              | Hurry up Only a few deals left
/            span.time
/              i.ti-timer.color-green
/              b
/                | 8
/              | d.
/              b
/                | 20
/              | st.
/              b
/                | 58
/              | min.
/          ul.statistic.list-unstyled.list-inline
/            li
/              p
/                i.ti-users
/                b
/                  | for 2
/                | Person
/            li
/              i.ti-tag
/              b
/                | 169
/              | Bought
/            li
/              i.ti-face-smile
/              | Offer success
/          .social-sharing.text-center data-permalink="http://labs.carsonshold.com/social-sharing-buttons"
/            /! https://developers.facebook.com/docs/plugins/share-button/
/            a.share-facebook href="http://www.facebook.com/sharer.php?u=http://themeforest.net/user/codenpixel" target="_blank"
/              span.icon.icon-facebook
/              span.share-title
/                | Share
/              span.share-count.is-loaded 288
/            /! https://dev.twitter.com/docs/intents
/            a.share-twitter href="http://twitter.com/share?url=http://themeforest.net/user/codenpixel" target="_blank"
/              span.icon.icon-twitter
/              span.share-title
/                | Tweet
/              span.share-count.is-loaded 78