.col-sm-4
  .deal-entry.orange
    .image
      a href="#" target="_blank" title="#"
        img.img-responsive alt="#" src="http://placehold.it/700x420" /
      span.bought
        i.ti-tag
        | 169
    /! /.image
    .title
      a href="#" target="_blank" title=('ATLETIKA 3 mēnešu abonements')
        | 3-dnevni oddih za 2 v hotelu Ferienhotel Alber 4*
    .entry-content
      .prices.clearfix
        .procent
          | -65%
        .price
          i.ti-money
          b
            | 60,00
        .old-price
          span
            i.ti-money
            | 171,00
      p
        | Immerse Yourself in the Magic of Cambodia with a Luxurious Eight Day/Seven Night Escape at Two of the World’s Finest Hotels!
    /! /.entry content
    footer.info_bar.clearfix
      ul.unstyled.list-inline.row
        li.time.col-sm-7.col-xs-6.col-lg-8
          i.ti-timer
          b
            | 8
          | d.
          b
            | 20
          | st.
          b
            | 58
          | min.
        li.info_link.col-sm-5.col-xs-6.col-lg-4
          a.btn.btn-block.btn-default.btn-raised.btn-sm href="#"
            | View Deal