section#inner-page.container
  .row
    .col-lg-8.col-sm-7
      .post-media
        #slider.flexslider
          ul.slides
            li
              img.img-responsive alt="" src="http://placehold.it/900x600" /
            li
              img.img-responsive alt="" src="http://placehold.it/900x600" /
            li
              img.img-responsive alt="" src="http://placehold.it/900x600" /
            li
              img.img-responsive alt="" src="http://placehold.it/900x600" /
            li
              img.img-responsive alt="" src="http://placehold.it/900x600" /
            li
              img.img-responsive alt="" src="http://placehold.it/900x600" /
        #carousel.flexslider
          ul.slides
            li
              img alt="" src="http://placehold.it/200x130" /
            li
              img alt="" src="http://placehold.it/200x130" /
            li
              img alt="" src="http://placehold.it/200x130" /
            li
              img alt="" src="http://placehold.it/200x130" /
            li
              img alt="" src="http://placehold.it/200x130" /
            li
              img alt="" src="http://placehold.it/200x130" /
      .row.mTop-20
        .col-sm-4.col-lg-3.bg-light
          article.side-details
            .what-you-get
              h4.border
                | What You Get
              ul
                li
                  | Stay for two in a traditional king or double room
                li
                  | Dates into September
              p
                strong
                  | Included in room-only stays:
              ul
                li
                  | Daily continental breakfast for two
                li
                  | One bottle of rum per stay
              p
                strong
                  | Included in all-inclusive stays:
              ul
                li
                  | Daily breakfast, lunch, and dinner for two from the regular menus at the Circle Wine Bar and Cellar, Amalgama, Ginger Pool Bar, and Vieques del Mar Beach restaurants
                li
                  | Unlimited house-brand cocktails, domestic beer, and nonalcoholic beverages
                li
                  | Use of beach towels, fun zone, and fitness center
                li
                  | Use of business station
                li
                  | Shuttle transportation within Palmas del Mar
                li
                  | WiFi
                li
                  | All hotel taxes and fees
              hr/
              p
                strong
                  | Policies and Fees
        /! /col 5
        .col-sm-5.col-lg-9
          .widget-inner.bg-white.shadow.mBtm-20
            #tabs.tabbable.responsive role="tabpanel"
              /! Nav tabs
              ul.nav.nav-tabs role="tablist"
                li.active role="presentation"
                  a aria-controls="home" data-toggle="tab" href="#tab-1" role="tab"
                    | Overview
                li role="presentation"
                  a aria-controls="reviews" data-toggle="tab" href="#reviews" role="tab"
                    | reviews
                li role="presentation"
                  a aria-controls="map" data-toggle="tab" href="#map" role="tab"
                    | Map &amp; Directions
              /! Tab panes
              .tab-content
                #home.tab-pane.active role="tabpanel"
                  .tab-content
                    #tab-1.tab-pane.fade.active.in
                      h4
                        | Description
                      p.lead
                        i
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                      p
                        | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                      .section-title-wr
                        h4.section-title.left
                          | Additional details
                      table.table.table-bordered.table-striped.table-hover.table-responsive
                        tbody
                          tr
                            td
                              strong
                                | Property Size:
                              | 2300 Sq Ft
                            td
                              strong
                                | Lot size:
                              | 5000 Sq Ft
                            td
                              strong
                                | Price:
                              | $23000
                          tr
                            td
                              strong
                                | Rooms:
                              | 5
                            td
                              strong
                                | Bedrooms:
                              | 4
                            td
                              strong
                                | Bathrooms:
                              | 2
                          tr
                            td
                              strong
                                | Garages:
                              | 2
                            td
                              strong
                                | Roofing:
                              | New
                            td
                              strong
                                | Structure Type:
                              | Bricks
                          tr
                            td
                              strong
                                | Year built:
                              | 1991
                            td
                              strong
                                | Available from:
                              | 1 August 2014
                            td
                      .section-title-wr
                        h4.section-title.left
                          | Location details
                      table.table.table-bordered.table-striped.table-hover.table-responsive
                        tbody
                          tr
                            td
                              strong
                                strong
                                  | Property Size:
                                | 2300 Sq Ft
                            td
                              strong
                                | Lot size:
                              | 5000 Sq Ft
                            td
                              strong
                                | Price:
                              | $23000
                          tr
                            td
                              strong
                                | Rooms:
                              | 5
                            td
                              strong
                                | Bedrooms:
                              | 4
                            td
                              strong
                                | Bathrooms:
                              | 2
                          tr
                            td
                              strong
                                | Garages:
                              | 2
                            td
                              strong
                                | Roofing:
                              | New
                            td
                              strong
                                | Structure Type:
                              | Bricks
                          tr
                            td
                              strong
                                | Year built:
                              | 1991
                            td
                              strong
                                | Available from:
                              | 1 August 2014
                            td
                    /! /tab content
                    #reviews.tab-pane role="tabpanel"
                      section.tab-content
                        /! comment start
                        .comment.clearfix
                          .comment-avatar
                            img alt="avatar" src="images/avatar-2.jpg" /
                          header
                            h3
                              | Really Nice!
                            .comment-meta.stars
                              i.ti-star
                              i.ti-star
                              i.ti-star
                              i.ti-start
                              i.ti-star
                              | | Today, 10:31
                          /! /.stars
                          .comment-content
                            .comment-body.clearfix
                              p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              a.btn.btn-sm.btn-default.btn-raised.ripple-effect.pull-right href="#l"
                                i.fa.fa-reply
                                | Reply
                        /! comment end
                        /! comment start
                        .comment.clearfix
                          .comment-avatar
                            img alt="avatar" src="http://placehold.it/80x80" /
                          header
                            h3
                              | Worth to Buy!
                            .comment-meta.stars
                              i.ti-star
                              i.ti-star
                              i.ti-star
                              i.ti-start
                              i.ti-star
                              | | Today, 10:31
                          /! /.stars
                          .comment-content
                            .comment-body.clearfix
                              p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              a.btn.btn-sm.btn-default.btn-raised.ripple-effect.pull-right href="#l"
                                i.fa.fa-reply
                                | Reply
                        /! comment end
                        h4.margin-bottom-20
                          | Post a Comment
                        form#comment-form.comments action="#" method="post" novalidate="novalidate"
                          fieldset
                            .row.space-xs
                              .col-md-6
                                div
                                  input#name.form-control name="name" placeholder="Name" type="text" /
                              .col-md-6
                                div
                                  input#email.form-control name="email" placeholder="Email" type="text" /
                            .space-xs
                              div
                                textarea#message.form-control name="message" placeholder=("Write comment here ...") rows="8"
                            p
                              button.btn.btn-green.btn-raised.ripple-effect type="submit"
                                | Submit Comment
                          p.form-allowed-tags
                            | You may use these
                            abbr
                              | HTML
                            | tags and attributes:
                            br
                            br
                            code
                              | &lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;
                    #map.tab-pane role="tabpanel"
                      .google-maps
                        iframe frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" style="border:0" width="600"
    .col-sm-4
      .widget-inner.bg-white.shadow
        .buyPanel.animated.fadeInLeft.bg-white.Aligner.text-center
          .content
            .deal-content
              h3
                | Wyndham Garden at Palmas del Mar - Puerto Rico
              p
                | Stay for two, with optional all-inclusive package. Dates into September
            .price
              h1
                | $999
            .buy-now.mBtm-30
              a.btn.btn-danger.btn-lg.btn-raised.ripple-effect.btn-block data-target="#myModal" data-toggle="modal"
                | BUY NOW
                span.ink.animate
            .dealAttributes
              .valueInfo.bg-light.shadow
                .value
                  p.value
                    | $2,475
                  p.text
                    | Value
                .discount
                  p.value
                    | 59%
                  p.text
                    | Discount
                .save
                  p.value
                    | $1,476
                  p.text
                    | SAVINGS
              .timeLeft.text-center
                p
                  | Požuri, DO ISTEKA PONUDE JE PREOSTALO:
                span.time
                  i.ti-timer.color-green
                  b
                    | 8
                  | d.
                  b
                    | 20
                  | st.
                  b
                    | 58
                  | min.
              .social-sharing.text-center data-permalink="http://labs.carsonshold.com/social-sharing-buttons"
                /! https://developers.facebook.com/docs/plugins/share-button/
                a.share-facebook href="http://www.facebook.com/sharer.php?u=http://themeforest.net/user/codenpixel" target="_blank"
                  span.icon.icon-facebook
                  span.share-title
                    | Share
                  span.share-count.is-loaded
                    | 150
                /! https://dev.twitter.com/docs/intents
                a.share-twitter href="http://twitter.com/share?url=http://themeforest.net/user/codenpixel" target="_blank"
                  span.icon.icon-twitter
                  span.share-title
                    | Tweet
                  span.share-count.is-loaded
                    | 62
      .smallFrame.shadow.bg-white
        i.ti-shopping-cart
        .content
          strong
            | 12 deals
          | Purchased
      .terms-and-conditions.bg-white.shadow.mTop-20
        .widget-inner
          hr data-symbol=('ADDITIONAL INFO') /
          .content
            ul.tick
              li
                | Stay
                strong
                  | for four
                | in a studio or one-bedroom villa
              li
                | The offer includes:
                strong
                  | 3 night at hotel ***
              li
                | Buy deal as a gift to other person easy
              li
                strong
                  | Breakfast included
              li
                | Additional fees:
                strong
                  | $15 resort fee per night
                | paid at check-in. $100 refundable security deposit required on major credit card at check-in.
              li
                strong
                  | Private balconies
                | are available in the tastefully decorated studios and one-bedroom villas.
              li
                strong
                  | Stay cool
                | as you swim beneath a cascading waterfall in the outdoor pool, where you can watch dive-in movies on Wednesday, Thursday, and Saturday nights.
              li
                | Deal valid:
                b
                  | 15.10.2015.
      /! /widget inner
      .widget
        .deal-entry.green.deal-entry-sm.mTop-20
          .offer-discount
            | -71%
          .image.ripple-effect
            a href="#" target="_blank" title="#"
              img.img-responsive alt="#" src="http://placehold.it/700x420" /
            span.bought
              i.ti-tag
              | 21
            .caption
              h5.media-heading
                a href="#"
                  | Plaza Resort Hotel &amp; SPA
          footer.info_bar.clearfix
            .prices.clearfix
              .procent
                | -71%
              .price
                i.ti-money
                b
                  | 54,00
              .old-price
                span
                  i.ti-money
                  | 171,00
        .deal-entry.green.deal-entry-sm
          .offer-discount
            | -71%
          .image.ripple-effect
            a href="#" target="_blank" title="#"
              img.img-responsive alt="#" src="http://placehold.it/700x420" /
            span.bought
              i.ti-tag
              | 21
            .caption
              h5.media-heading
                a href="#"
                  | Plaza Resort Hotel &amp; SPA
          footer.info_bar.clearfix
            .prices.clearfix
              .procent
                | -71%
              .price
                i.ti-money
                b
                  | 54,00
              .old-price
                span
                  i.ti-money
                  | 171,00
