doctype html
html.gr__pamukovic_com lang="en"
  head
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    meta content=('text/html; charset=UTF-8') http-equiv="content-type" /
    meta charset="utf-8" /
    title
      | Find your Lama
    meta content="#" name="generator" /
    meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" /
    link href="/assets/bootstrap.min.css" rel="stylesheet" /
    link href="/assets/themify-icons.css" rel="stylesheet" /
    link href="/assets/font-awesome.css" rel="stylesheet" /
    link href="/assets/owl.carousel.css" rel="stylesheet" /
    link href="/assets/animate.min.css" rel="stylesheet" /
    link href="/assets/animsition.css" rel="stylesheet" /
    link href="/assets/plugins.min.css" rel="stylesheet" /
    link href="/assets/style.css" rel="stylesheet" /
    /![if lt IE 9]
      | <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script
    link href="#" rel=('shortcut icon') /
    link href="#" rel="apple-touch-icon" /
    link href="#" rel="apple-touch-icon" sizes="72x72" /
    link href="#" rel="apple-touch-icon" sizes="114x114" /

  body
    .site-wrapper.animsition data-animsition-in="fade-in" data-animsition-out="fade-out"
      = render partial: 'shared/header'
      = yield
      = render partial: 'shared/footer'