section#page.container.mTop-30.mBtm-50
  .row
    .col-sm-12
      .panel-body.frameLR.bg-white.shadow.space-sm
        .col-md-6
          h3.dark-grey
            | Регистрация
          .form-group
            label
              | Логин
            input.form-control id="" name="" type="" value=""
          .form-group
            label
              | Пароль
            input.form-control id="" name="" type="password" value=""
          .form-group
            label
              | Повторите пароль
            input.form-control id="" name="" type="password" value=""
          .form-group
            label
              | Email адрес
            input.form-control id="" name="" type="" value=""
          .form-group
            label
              | Повторите Email адрес
            input.form-control id="" name="" type="" value=""
          /.col-sm-6
            input.checkbox.pull-left type="checkbox"
            | Подписаться на рассылку
          /.col-sm-6
            input.checkbox.pull-left type="checkbox"
            | Отправлять уведомления на электронный адрес
        .mBtm-20.visible-xs
        .col-md-6
          h3.dark-grey
            | Пользовательское соглашение
          p
            | By clicking on "Register" you agree to The Company's' Terms and Conditions
          p
            | While rare, prices are subject to change based on exchange rate fluctuations - should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
          p
            | Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
          p
            | Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
          button.btn.btn-danger.btn-lg.btn-raised.ripple-effect type="submit"
            | Зарегистрироваться
